/* Quick order form*/
 thead.quick-order-head tr {
    border-bottom: 1px solid #d0d1c9;
}
.quick-order-body > tr {
  float: left;
  /*height: 47px;*/
  height: auto;
  margin: 1px 0;
  width: 100%;
  position: relative;
}
table#quick-order  {
  border: 1px solid #d0d1c9;
  padding: 3px;
}

thead.quick-order-head {
  font-size: 13px;
  text-align: left;
}
thead.quick-order-head th {
  padding: 10px;
}
tbody.quick-order-body td {
  padding: 10px;
}
#quickorder-form{
  background-clip: border-box;
  background-color: #fff;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #444;
  position: relative;
  text-shadow: none;
  padding: 7px;
  width: 420px;
}


.txt-qty{
  width: 64px;
  height: 30px;
  border: none;
  padding: 5px;
}
.txt-pcode {
  width: 200px;
  border: none;
  padding: 5px;
}

.btn-addcart{
  width: 112px;
  height: 30px;
  color: #fff;
  border: 1px solid #689804;
  background-color:#689804;
}
.btn-remove-cart{
  width: 65px;
  height: 30px;
  color: #fff;
  background-color:#a8aba0;
  border: none; 
}
#quickorder-form table td.txt-sku, #quickorder-form table th.txt-sku {
  width: 90px;
}
#quickorder-form table td.td-pcode, #quickorder-form table th.td-pcode, #quickorder-form table th.txt-pcode {
  width: 220px 
}

#quickorder-form #search-table thead th:nth-child(3) {
  width: 145px;
}
#quickorder-form table td.td-qty, #quickorder-form table th.td-qty {
  width: 75px;
  word-wrap: break-word;
}
#quickorder-form table td.pqty, #quickorder-form table th.pqty {
  width: 100px;
}
#quickorder-form table td.td-action, #quickorder-form table th.td-action {
  padding-right: 0;
  text-align: left;
  width: auto;
}
#quickorder-form table td, #quickorder-form table th {
  border: 0 none;
  float: left;
  padding: 10px;
  
}
#quickorder-form table td.txt-sku, #quickorder-form table th.txt-sku {
  width: 100px;
}
#quickorder-form table td.td-pcode, #quickorder-form table th.td-pcode, #quickorder-form table th.txt-pcode {
  width: 240px;
}
#quickorder-form table td.pname, #quickorder-form table th.pname {
  width: 188px;
}
#quickorder-form table td.td-qty, #quickorder-form table th.td-qty {
  width: 52px;
  word-wrap: break-word;
}
#quickorder-form table td.pqty, #quickorder-form table th.pqty {
  width: 100px;
}
#quickorder-form table td.td-action, #quickorder-form table th.td-action {
  padding-right: 0;
  text-align: left;
  width: auto;
}
.quick-order-body > tr#selection-area {
  background-color: #fff;
}
#selection-area .add-all.button {
  background-color: #689804;
  border: medium none;
  color: #fff;
}
.cus-add-to-cart-button {
  background-color: #689804;
  border: medium none;
  color: #fff;
  /*height: 32px;*/
}
#selection-area .cus-add-to-cart-button img {
  float: left;
  margin-right: 4px;
}
#selection-area .cus-add-to-cart-button > span {
  line-height: 20px;
}
.cus-add-to-cart-button > span {
  line-height: 20px;
}
.cus-add-to-cart-button img {
  float: left;
  margin-right: 4px;
}
#selection-area .add-all.button img {
  float: left;
  margin-right: 4px;
}
#selection-area .add-all.button > span {
  line-height: 20px;
}

#or-option{
  height: 50px;
  margin: 0 auto;
}
#or-option .or-option-button {
  background-color: #2487ca;
  border: medium none transparent;
  border-radius: 59px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 50px;
}

table#write-something-option {
  width: 100%;
  border: 1px solid #d0d1c9;
  padding: 2px;
}
.optional-form {
  background-color: #e9f0f6;
}
.form-action-button-last {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
.wright-text-box textarea {
  font-family: inherit;
  font-size: small;
  height: 80px;
  padding: 10px;
  width: 514px;
  border: none;
      margin-left: 100px;
}
#quickorder-form #write-something-option td {
  padding: 18px 10px 3px;
}

td.wright-text-box {
    width: 615px;
    height: 80px;
}
td.wright-text-box-2{
  width: 155px;
  height: 80px;
}
td.wright-button-last{
  height: 80px;
}
table#write-something-option td {
  float: none;
}



#quickorder-form button {
  box-shadow: none;
}
.confBlock {
  border: 1px solid #c2c2c2;
  margin: 5px 0;
  padding: 10px;
}
.item_loader {
  float: left;
  left: 218px;
  position: absolute;
  top: 14px;
}
#quickorder-form input.txt-pcode {
  padding-right: 35px;
}
.confAddtoListClass {
  background: #2487ca none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin-left: 10px;
  padding: 0 12px 4px;
  border-radius: 5px;
  font-family: Helvetica;
}
.confAddtoListClass:hover {
  background: #44a5e5 none repeat scroll 0 0;
}
#confProdBlock span {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  color: #5d5f5c;
}
#confProdBlock strong {
  color: #4c4a49;
}
.deleteConfProduct {
  vertical-align: middle;
}
#quickorder-form button:hover {
  background: #e31837 none repeat scroll 0 0 !important;
  color: #fff !important;
}

.ac_quickorder {
  z-index: 999;  
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
  padding-left: :1px !important;
}
.ac_quickorder .ui-menu-item{
  padding: 0px !important;
  /*height: 52px;*/
  height: 33px;
  line-height: 0px;
  list-style-type: none;
}

@media only screen and (max-width: 1300px){
  .modal-popup .modal-inner-wrap {
    width: 94%;
  }
}

@media only screen and (max-width: 1024px){
  #quickorder-form table td.td-pcode, #quickorder-form table th.td-pcode, #quickorder-form table th.txt-pcode  {
    width: 220px;
  }
  #quickorder-form table td.txt-sku, #quickorder-form table th.txt-sku {
    width: 50px;
  }
  #quickorder-form table td.td-qty, #quickorder-form table th.td-qty {
    width: 50px;
  }
  #quickorder-form table td.pqty, #quickorder-form table th.pqty {
    width: 50px;
  }
  #selection-area .add-all.button img {
    display: none;
  }
  .form-action-button-last {
  position: relative;
  }
  #selection-area .cus-add-to-cart-button img {
    display: none;
  }
  .modal-popup .modal-inner-wrap {
    width: 90%;
  }
  .item_loader {
  left: 200px;
  }
  #quickorder-form {
    width: 656px;
  }
  .wright-text-box textarea {
    margin-left: 10px;
  }
  .wright-text-box textarea{
    width: 380px;
  }
  .wright-text-box > p {
    margin-left: 10px !important;
  }
  td.wright-text-box {
    width: 407px;
  }
  .cus-add-to-cart-button img {
    display: none;
  }
}
.shopping-list
{
  z-index: 1000 !important;
}