<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        
        <update id="Dckap_Extensions::dckapextensions" title="Dckap Extensions" module="Dckap_Requestquote" sortOrder="300" resource="Dckap_Extensions::dckapextensions"/>
        <add id="Dckap_Requestquote::requestquote" title="Request Quote" module="Dckap_Requestquote" sortOrder="50" parent="Dckap_Extensions::dckapextensions" action="requestquote/index" resource="Dckap_Requestquote::requestquote"/>
        
    </menu>
</config>
